#!/bin/sh

echo "---------------------------------------------------------------------"
echo "At the moment, only the core of the system is installed. To tune the "
echo "system to your needs, you can choose to install one or more          "
echo "predefined collections of software by running the following          "
echo "command:                                                             "
echo "                                                                     "
echo "   sudo tasksel --section server                                     "
echo "---------------------------------------------------------------------"
